* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  
}

header {
  padding: 40px;
  text-align: center;
  background: #210f93;
  color: #fff;
}

main{
  padding-left: 10%;
}


@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
